

header .header-content {
    padding: 100px 15px !important;
    text-align: left !important;
}

header .header-content .inner legend {
	margin-bottom: 2.5rem;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
}

.form-group {
	border-top: 1.3px solid #e0e0e3;
}

.form-control-display{
	display: inline-block;
	width: 30%;
}

label {
	display: block;
	margin-top: .3rem;
	font-size: 1.2rem;
}