

.form-group {
	border-top: 1.3px solid #e0e0e3;
}

.form-control-display{
	display: inline-block;
	width: 30%;
}

label {
	display: block;
	margin-top: .3rem;
	font-size: 1.2rem;
}

#ifOpt1, #ifOpt2 {
	display: none !important;
}