
.table {
	margin-bottom: 2rem !important;
}

.table thead th {
	vertical-align: middle !important;
	font-size: .9rem !important;
}

.table td, .table th {
	padding: .4rem .1rem !important;
	font-size: .8rem !important;
}

header .header-content {
    padding: 100px 15px 50px 15px !important;
    text-align: left !important;
}

.btnWrap {
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
}

.btnListWrap {
	width: 100%;
	text-align: right;
}

.btnListWrap a {
	padding: .3rem .7rem;
}

.pagenationWrap {
	margin-top: 1.5rem;
}