.form-check {
	text-align: center;
	margin-bottom: 0 !important;
}

.form-check-input {
	margin-left: 0 !important;
}

.al-center {
	justify-content: center;
}

.page-link {
	padding: .4rem .65rem !important;
}